  <html>
  <head>
  	<link rel="stylesheet" type="text/css" href="../stylesheets/stylesheet.css">
    <title> Device </title>
    <meta charset ="UTF-8">
  </head>
 
  <body>
    
    <header>
      <div class="h-container">
        <h1><a href="./index.html" style="logo">Taskmanagement</a></h1>
        <nav>
          <a href="./index.html">Login</a>
          <a href="./task.html">Task</a>
          <a href="./device.html">Device</a>
        </nav>
      </div>
      <div class="clear"></div>
    </header>
    <!-- Main content goes from here --> 
   <section class="middle">
    	 <div class="content-holder">
       
       <div class="text-container">
         
          <p>DILLERMAND</p>
         
       </div>
     
     </div>

     
     
     
    </section>
    <!-- To here -->
    <div style="clear: both;"></div>
    <footer id="footer"> <!-- Footer content beginning -->
      <div class="container">
      <ul>
        <li class="left-box" style="text-align: right;">
          <p> Matti 2014<br>
          Mattestic & Co © 2014</p>
        </li>
        <li class="right-box">
         <ul>
           <li style="margin-top: 10px;">
             <a>INFORMATION</a>
           </li>
           <li style="margin-top: 5px;">
             <a>CONTACTS</a>
           </li>
           <li style="margin-top: 5px;">
             <a>LOCATIONS</a>
           </li>
           <li style="margin-top: 5px;">
             <a>SUPPORT</a>
           </li>
         </ul>
        </li>
      </ul>
      </div>
      
    </footer> <!-- Footer content ending -->
    
  </body>
  
</html>